---
import type { GetStaticPathsResult, InferGetStaticPropsType } from "astro"
import { Icon } from "@astrojs/starlight/components"
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro"
import type { StarlightPageProps } from "@astrojs/starlight/props"
import { YouTube } from "@astro-community/astro-embed-youtube"
import { getPodcastEntries } from "@/lib/content/podcast"

export const prerender = true

export async function getStaticPaths() {
  const entries = await getPodcastEntries()
  return [
    { 
      params: { 
        prefix: "podcast", 
        episode: undefined 
      }, 
      props: { 
        entries 
      }
    }
  ] satisfies GetStaticPathsResult
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>

const { entries } = Astro.props

const pageProps: StarlightPageProps = {
  frontmatter: {
    title: "Cause & Effect Podcast",
    tableOfContents: false, 
    template: "splash",
  },
  hasSidebar: false,
}
---

<StarlightPage {...pageProps}>
  <main class="mt-6 lg:mt-16">
    <h1>
      Cause & Effect Podcast
    </h1>
    <p class="max-w-2xl mt-6 not-content">
      A podcast exploring how engineers are using Effect to build reliable, production-grade software in TypeScript.
    </p>
    <div class="flex flex-col md:flex-row gap-y-4 gap-x-8 mt-6 not-content">
      <span class="whitespace-nowrap">Listen on:</span>
      <ul class="flex flex-wrap gap-x-8 gap-y-4 p-0 list-none not-content">
        <li>
          <a
            href="#"
            class="flex items-center gap-2 font-semibold text-red-500 no-underline hover:underline"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 576 512"
              class="fill-current h-6"
            >
              <path d="M549.7 124.1c-6.3-23.7-24.8-42.3-48.3-48.6C458.8 64 288 64 288 64S117.2 64 74.6 75.5c-23.5 6.3-42 24.9-48.3 48.6-11.4 42.9-11.4 132.3-11.4 132.3s0 89.4 11.4 132.3c6.3 23.7 24.8 41.5 48.3 47.8C117.2 448 288 448 288 448s170.8 0 213.4-11.5c23.5-6.3 42-24.2 48.3-47.8 11.4-42.9 11.4-132.3 11.4-132.3s0-89.4-11.4-132.3zm-317.5 213.5V175.2l142.7 81.2-142.7 81.2z" />
            </svg>
            <span>YouTube</span>
          </a>
        </li>
        <li>
          <a 
            href="#"
            class="flex items-center gap-2 font-semibold text-emerald-500 dark:text-emerald-400 no-underline hover:underline"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 496 512"
              class="fill-current h-6"
            >
              <path d="M248 8C111.1 8 0 119.1 0 256s111.1 248 248 248 248-111.1 248-248S384.9 8 248 8zm100.7 364.9c-4.2 0-6.8-1.3-10.7-3.6-62.4-37.6-135-39.2-206.7-24.5-3.9 1-9 2.6-11.9 2.6-9.7 0-15.8-7.7-15.8-15.8 0-10.3 6.1-15.2 13.6-16.8 81.9-18.1 165.6-16.5 237 26.2 6.1 3.9 9.7 7.4 9.7 16.5s-7.1 15.4-15.2 15.4zm26.9-65.6c-5.2 0-8.7-2.3-12.3-4.2-62.5-37-155.7-51.9-238.6-29.4-4.8 1.3-7.4 2.6-11.9 2.6-10.7 0-19.4-8.7-19.4-19.4s5.2-17.8 15.5-20.7c27.8-7.8 56.2-13.6 97.8-13.6 64.9 0 127.6 16.1 177 45.5 8.1 4.8 11.3 11 11.3 19.7-.1 10.8-8.5 19.5-19.4 19.5zm31-76.2c-5.2 0-8.4-1.3-12.9-3.9-71.2-42.5-198.5-52.7-280.9-29.7-3.6 1-8.1 2.6-12.9 2.6-13.2 0-23.3-10.3-23.3-23.6 0-13.6 8.4-21.3 17.4-23.9 35.2-10.3 74.6-15.2 117.5-15.2 73 0 149.5 15.2 205.4 47.8 7.8 4.5 12.9 10.7 12.9 22.6 0 13.6-11 23.3-23.2 23.3z" />
            </svg>
            <span>Spotify</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center gap-2 font-semibold text-violet-500 dark:text-violet-400 no-underline hover:underline"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 256 256"
              class="fill-current h-6"
            >
              <path d="M153.208 159.9C152.808 156.3 151.608 153.7 149.208 151.3C144.708 146.6 136.808 143.5 127.508 143.5C118.208 143.5 110.308 146.5 105.808 151.3C103.508 153.8 102.208 156.3 101.808 159.9C101.008 166.9 101.508 172.9 102.308 182.6C103.108 191.8 104.608 204.1 106.508 216.5C107.908 225.4 109.008 230.2 110.008 233.6C111.708 239.2 117.808 244 127.508 244C137.208 244 143.408 239.1 145.008 233.6C146.008 230.2 147.108 225.4 148.508 216.5C150.408 204 151.908 191.8 152.708 182.6C153.608 172.9 154.008 166.9 153.208 159.9Z" />
              <path d="M152.11 108.9C152.11 122.5 141.11 133.5 127.51 133.5C113.91 133.5 102.91 122.5 102.91 108.9C102.91 95.2998 113.91 84.2998 127.51 84.2998C141.11 84.2998 152.11 95.3998 152.11 108.9Z" />
              <path d="M127.209 12.0002C69.8089 12.2002 22.8089 58.8001 22.0089 116.2C21.4089 162.7 51.1089 202.5 92.6089 217.1C93.6089 217.5 94.6089 216.6 94.5089 215.6C94.0089 212 93.4089 208.4 93.0089 204.8C92.8089 203.5 92.0089 202.5 90.9089 201.9C58.1089 187.6 35.2089 154.7 35.6089 116.6C36.1089 66.6002 76.9089 25.9002 126.809 25.5002C177.909 25.1002 219.609 66.5002 219.609 117.5C219.609 155.2 196.809 187.6 164.309 201.9C163.109 202.4 162.309 203.5 162.209 204.8C161.709 208.4 161.209 212 160.709 215.6C160.509 216.7 161.609 217.5 162.609 217.1C203.709 202.7 233.209 163.5 233.209 117.5C233.009 59.3002 185.509 11.9002 127.209 12.0002Z" />
              <path d="M124.808 47.0003C87.4077 48.4003 57.4077 79.3003 56.9077 116.7C56.6077 141.3 68.9077 163.1 87.8077 176C88.7077 176.6 90.0077 175.9 90.0077 174.8C89.7077 170.5 89.7077 166.7 89.9077 162.7C90.0077 161.4 89.5077 160.2 88.5077 159.3C77.0077 148.5 70.0077 133.1 70.4077 116.1C71.2077 86.1004 95.3077 61.7003 125.308 60.5003C157.908 59.2003 184.708 85.4004 184.708 117.6C184.708 134 177.708 148.8 166.608 159.3C165.708 160.2 165.208 161.4 165.208 162.7C165.408 166.6 165.308 170.4 165.108 174.7C165.008 175.8 166.308 176.6 167.308 175.9C185.908 163.2 198.208 141.7 198.208 117.5C198.308 77.7004 165.008 45.4003 124.808 47.0003Z" />
            </svg>
            <span>Apple Podcasts</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center gap-2 font-semibold text-orange-500 dark:text-orange-400 no-underline hover:underline"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 1000 1000"
              class="fill-current h-6"
            >
              <path
                fill-rule="evenodd"
                d="m500 900c-221.67 0-400-178.33-400-400s178.33-400 400-400 400 178.33 400 400-178.33 400-400 400zm0-158.33 30-30-30-115-30 115zm-38.33-1.67-15 56.67 35-35zm76.66 0-20 20 35 35zm28.34 103.33-66.67-66.66-66.67 66.66c21.67 3.34 43.34 6.67 66.67 6.67s45-1.67 66.67-6.67zm-66.67-693.33c-193.33 0-350 156.67-350 350 0 153.33 98.33 283.33 235 330l75-278.33c-16.67-11.67-26.67-31.67-26.67-53.34 0-36.66 30-66.66 66.67-66.66s66.67 30 66.67 66.66c0 21.67-10 40-26.67 53.34l75 278.33c136.67-46.67 235-176.67 235-330 0-193.33-156.67-350-350-350zm228.33 523.33c-8.33 10-23.33 13.34-35 5-11.66-8.33-13.33-23.33-5-33.33 0 0 45-60 45-145s-45-145-45-145c-8.33-10-6.66-25 5-33.33 11.67-8.34 26.67-5 35 5 3.34 3.33 55 71.66 55 173.33s-51.66 170-55 173.33zm-121.66-65c-10-10-8.34-28.33 1.66-38.33 0 0 25-26.67 25-70s-25-68.33-25-70c-10-10-10-26.67-1.66-38.33 10-11.67 25-11.67 35-1.67 1.66 1.67 41.66 43.33 41.66 110s-40 108.33-41.66 110c-10 10-25 8.33-35-1.67zm-213.34 0c-10 10-25 11.67-35 1.67-1.66-3.33-41.66-43.33-41.66-110s40-106.67 41.66-110c10-10 26.67-10 35 1.67 10 10 8.34 28.33-1.66 38.33 0 1.67-25 26.67-25 70s25 70 25 70c10 10 11.66 26.67 1.66 38.33zm-86.66 70c-11.67 8.34-26.67 5-35-5-3.34-3.33-55-71.66-55-173.33s51.66-170 55-173.33c8.33-10 23.33-13.34 35-5 11.66 8.33 13.33 23.33 5 33.33 0 0-45 60-45 145s45 145 45 145c8.33 10 5 25-5 33.33zm0 0"
              />
            </svg>
            <span>Overcast</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center gap-2 font-semibold text-red-500 dark:text-red-400 no-underline hover:underline"
          >
           <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 256 256"
              class="fill-current h-6"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M128 20C187.65 20 236 68.3503 236 128C236 187.65 187.65 236 128 236C68.3503 236 20 187.65 20 128C20 68.3503 68.3503 20 128 20ZM128 211.997C81.6072 211.997 44.003 174.393 44.003 128C44.003 81.6072 81.6072 44.003 128 44.003V64.9955C115.541 64.9955 103.361 68.6901 93.001 75.6121C82.6412 82.5341 74.5667 92.3726 69.7983 103.883C65.03 115.394 63.782 128.061 66.2122 140.281C68.6425 152.501 74.6418 163.726 83.4515 172.537C92.2612 181.348 103.486 187.348 115.706 189.78C127.926 192.211 140.592 190.965 152.104 186.198C163.615 181.43 173.454 173.357 180.377 162.998C187.301 152.639 190.996 140.459 190.998 128H211.997C211.997 174.4 174.393 211.997 128 211.997ZM77.5977 128C77.5977 114.632 82.908 101.812 92.3602 92.3602C101.812 82.908 114.632 77.5978 128 77.5978V95.924C121.658 95.9253 115.459 97.8071 110.186 101.331C104.913 104.856 100.804 109.864 98.3773 115.724C95.9509 121.584 95.3164 128.031 96.554 134.251C97.7916 140.471 100.846 146.185 105.33 150.67C109.815 155.154 115.529 158.208 121.749 159.446C127.969 160.684 134.416 160.049 140.276 157.623C146.136 155.196 151.144 151.087 154.669 145.814C158.193 140.541 160.075 134.342 160.076 128H178.402C178.402 141.368 173.092 154.188 163.64 163.64C154.188 173.092 141.368 178.402 128 178.402C114.632 178.402 101.812 173.092 92.3602 163.64C82.908 154.188 77.5977 141.368 77.5977 128Z"
              />
            </svg>
            <span>Pocket Casts</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="!mt-6 not-content">
      <code class="py-2 px-4 bg-[var(--sl-color-gray-6)] border border-[var(--sl-color-gray-5)] text-[var(--sl-color-white)] rounded-lg">
        https://effect.website/podcast.rss
      </code>
    </div>
    <div class="flex flex-col gap-16 !mt-8 md:!mt-16 lg:!mt-32">
      {entries.map((entry, index) => {
        const podcastUrl = `${entry.slug.replace("podcast/", "")}/`
        const date = entry.data.date.toLocaleDateString(undefined, { 
          dateStyle: "medium"
        })
        return (
          <div class="flex flex-col md:flex-row items-start gap-8 lg:gap-x-16 md:items-stretch">
            <div class="w-full md:w-auto flex flex-col md:flex-row items-start gap-8 shrink-0 text-6xl">
              <a href={podcastUrl} class="w-[7.5rem] shrink-0 no-underline hover:underline">
                <span># {entries.length - index}</span>
              </a>
              <div class="w-full md:w-64 lg:w-80 md:h-full p-px rounded-2xl shrink-0 overflow-hidden aspect-video md:aspect-auto">
                <div class="w-full h-full bg-[var(--sl-color-gray-5)] dark:bg-[var(--sl-color-bg-nav)] p-1.5 rounded-[15px] overflow-hidden">
                  <div class="relative w-full h-full border border-[var(--sl-color-bg)] rounded-[9px] overflow-hidden">
                    <YouTube id={entry.data.youtube.id} title={entry.data.youtube.title} />
                  </div> 
                </div>
              </div>
            </div>
            <div class="flex flex-col justify-between !mt-0">
              <div>
                  <div class="text-sm line-clamp-1">
                    <time datetime={entry.data.date.toISOString()}>
                      {date}
                    </time>
                  </div>
                  <h2 class="text-3xl !mt-0 line-clamp-1">
                    <a href={podcastUrl} class="no-underline hover:underline">
                      {entry.data.title}
                    </a>
                  </h2>
              </div>
              <p class="!mt-0 md:line-clamp-2 lg:line-clamp-3">{entry.data.description}</p>
              <a href={podcastUrl} class="flex font-medium no-underline hover:underline">
                <span>Episode Notes</span>
                <Icon name="right-arrow" class="h-3 ml-1" />
              </a>
            </div>
          </div>
        )
      })}
    </div>
  </main>
</StarlightPage>

<style>
:global(.content-panel:first-of-type) {
  display: none;
}
</style>
